body { font:10pt verdana, arial, sans-serif; }
a img { border:0; } /* conform IE */
#vfs { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#vfs ul { list-style:none; padding:0; }
#vfs ul ul { list-style:none; padding-left:3em; }
#vfs li { border:2px solid transparent; padding:0.1em 0.2em }
#vfs li.selected { background:#ddf; border-color:#99f; }
#vfs li.hovered { background:#eee; }
#vfs .expansion-button { margin-right:0em; cursor:pointer; display:inline-block; width:1em; }
#vfs .expansion-button.hovered { background-color:#ddd; }
#vfs li.collapsed>ul { display:none; } 
#vfs .no-children { color:#888; }
#vfs .no-children:before,
#vfs .no-children:after { content:"..."; }
#vfs li .icon img { margin-right:0.5em }
#vfs li .icon img,
img.near-text { height:1.5em; vertical-align:middle; }
