body { font:10pt verdana, arial, sans-serif; }
a img { border:0; } /* conform IE */
#vfs ul { list-style:none; padding:0; }
#vfs ul ul { list-style:none; padding-left:3em; }
#vfs li.item { border:2px solid transparent; padding:0.1em 0.2em }
#vfs li.item.selected { background:#ddf; border-color:#99f; }
#vfs li.item.hovered { background:#eee; }
#vfs .expansion-button { margin-right:0.5em; cursor:pointer; }
#vfs .expansion-button.hovered { background-color:#ddd; }
#vfs li.item.collapsed>ul { display:none; } 
#vfs .no-children { color:#888; }
#vfs .no-children:before,
#vfs .no-children:after { content:"..."; }
#vfs li.item .icon img { height:1.5em; margin-right:0.5em; vertical-align:middle;  }
#vfs .deleted-items { font-size:7pt; padding-left:20px; cursor:pointer; display:none; }
#vfs .deleted-items ul { padding-left:2em; }
#vfs .deleted-items .hover { text-decoration:underline; }
#vfs .deleted-items .hover:after { content:"  [restore]"; }
